<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Buptis&apos;i daha iyi kullanabilmeniz için galerinize erişmemize izin vermelisiniz.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Buptis&apos;i daha iyi kullanabilmeniz için galerinize erişmemize izin vermelisiniz.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Buptis konumunuzu kullanarak çevrenizde size yakın mekanları listelemektedir.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Buptis konumunuzu kullanarak çevrenizde size yakın mekanları listelemektedir.</string>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.buptis.app.ios</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Buptis</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.buptis.app.ios</string>
				<string>com.googleusercontent.apps.702647090904-45v1qskciukrf1ojmnotljnmk9k7ph23</string>
			</array>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIMainStoryboardFile</key>
	<string>GirisKayit</string>
	<key>CFBundleDisplayName</key>
	<string>Buptis</string>
	<key>CFBundleName</key>
	<string>Buptis</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>6.0</string>
</dict>
</plist>
